@import "normalize.css";

.barChartTitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  height: 23px;
}
.graphContainer{
  display: flex;
  background-color: #bbb;
}

.yAxisValueContainerVert {
  height: 100%;
  font-size: 12px;
}

.yAxisValueContainerHor {
  height: 6px;
  background-color: #ccc;
}

.yAxisValue {
  text-align:right;
  height:12px;
}

.yAxisValueHor {
  font-size: 12px;
  text-align:right;
  vertical-align: middle;
  background-color: #777;
  max-width: 100px;
}

.yAxisValueHor span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 2px;
  max-width: 100px;
}

.yAxisTicksContainerVert {
  height: 100%;
}

.xAxisTicksContainerHor {
  height: 6px;
}

.tickBoxVert {
  height: 12px; 
}

.tickBoxHor {
  margin-bottom: 10px; 
  background-color: #999;
}

.ticksVert {
  display:inline-block;
  height:2px; 
  width:6px;
  background-color: #000; 
  margin-bottom:6px;
}

.ticksHor {
  float: left;
  height:6px; 
  width:2px;
  background-color: #000; 
}

.barGraphVert {
  display: flex;
  border-left:2px #000 solid;
}

.barGraphHor {
  border-left:2px #000 solid;
  border-bottom:2px #000 solid 
}

.barContainerVert{
  flex: 1;
  justify-content: center;
  align-self: end;
  position: relative
}

.barContainerHor {
  background-color:#777;
  position: relative
}

.barStackVert {
  align-self: end;
  width:100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.barStackHor {
  height: 100%;
  float: left;
}

.barStackVert span, .barStackHor span {
font-size: 12px;
}

.barStackVert span {
  display: inline-block;
  line-height: normal;
}

.xAxisValueContainerVert {
  display: flex;
  height: 12px;
  margin-top: 2px;
}
.xAxisValueContainerHor {
  margin-top: 2px;
}

.xValueVert {
  flex:1;
  text-align: center;
  width: 100%;
  height: 12px;
  font-size: 12px;
  overflow: hidden;
}

.xValueHor {
  float: left;
}

.bottomBorder {
  height: 2px;
  background-color: #000;

}